header {
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  position: sticky;
  top: 0;
}

nav ul li {
  display: inline-block;
}

.flex-container {
  flex-direction: column;
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.item {
  position: relative;
  margin: 10px;
  display: inline
}

.item img {
  width: 900px;
}

.caption {
  text-align: center;
  position: relative;
  top:0;
  bottom: 0;
  width: 100%;
}

.caption p  {
  padding: 5%;
}

.item:hover .caption {
  opacity: 1;
}

img {
  max-width: 100%;
}
#profile-picture{
max-height: 400px;
}

@media only screen and (min-width: 850px) {
  .caption {
    position: absolute;
  }
  .about {
    width: 30%;
  }
  .flex-container {
    flex-direction: row;
  }
  .item img {
    width: auto;
  }
}

