header {
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  position: sticky;
  top: 0;
}

nav ul li {
  display: inline-block;
}

.flex-container {
  display: flex; 
  justify-content: space-around;
}

.item {
  position: relative;
  margin: 10px;
  display: inline-block;
}

.caption {
  text-align: center;
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  box-sizing: border-box;
}

.caption p  {
  padding: 5%;
}

.item:hover .caption {
  opacity: 1;
}

img {
  display: block; 
  max-width: 100%;
}



@media only screen and (max-width: 800px) {
  .caption {
    position: relative;
    opacity: 1;
    background-color: orange;
    color: black;
  }
}

