*{
    font-family: Trebuchet MS;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: white;
}

body {
    background-color: orange;
}


h1, h2 { 
    font-weight: 700;
    color: rgb(85, 172, 201);
    text-transform: uppercase; 
    text-shadow: #1c1c1c 1px 2px 2px;
}

p{
    font-family: Trebuchet MS;
}
  
header {
    text-align: left;
    background-color: orange;
    padding: 15px;
    color: rgb(27, 153, 231);
    border: 0px solid;
    box-shadow:  0px 0px 6px orange;
}
  
nav ul {
    margin-top: 10px;
    padding: 0;
}
    
nav ul li a {
    text-decoration: none;
    color: #333;
    background-color:rgb(85, 172, 201);;
    padding: 5px;
    padding-left: 1px;
}
    
nav ul li a:hover {
    background-color: #ebb02f
}
    
main{
    background-color: rgb(227, 227, 53);
    padding-top: 20px;
}

footer {
    background-color: orange;
    border: 0px solid;
    box-shadow:  0px 0px 6px orange;
    padding: 10px;
}
    
main ul{
    list-style-type: square;
    list-style-position: inside;
    padding: 1vw;
}

main h1 {
    text-align: center;
    background-color: orange;
    border: 0px solid;
    box-shadow:  0px 0px 6px orange;
}

.item  {
    background-color: orange;
    border: 3px solid orange;
    box-shadow:  0px 0px 6px orange;
}

button {
    font-size: 1.5em;
    background-color: black;
    border: 3px ridge black;
    box-shadow:  0px 0px 6px black;
}

